name: PHP CI (PR)

on:
  workflow_call:
    secrets:
      webservices_pat:
        required: true

jobs:
  check_php_files_changed:
    name: Check for changed PHP files
    runs-on: ubuntu-latest
    outputs:
      changed: ${{ steps.php_files_changed.outputs.changed }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check for changed PHP files
        id: php_files_changed
        run: |
          CHANGED_COUNT=$(git diff --name-only origin/${{ github.event.pull_request.base.ref }} HEAD | grep php | wc -l)
          echo "changed=$CHANGED_COUNT" >> $GITHUB_OUTPUT
          echo "Number of changed PHP files: " $CHANGED_COUNT

  check_config_files:
    name: Check for config files
    runs-on: ubuntu-latest
    outputs:
      phpstan: ${{ steps.check.outputs.phpstan }}
      behat: ${{ steps.check.outputs.behat }}
      phpunit: ${{ steps.check.outputs.phpunit }}
      laravel: ${{ steps.check_laravel.outputs.is_laravel }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check for Laravel dependency in composer.json
        id: check_laravel
        run: |
          if jq -e '.require | has("laravel/framework")' composer.json > /dev/null; then
            echo "is_laravel=true" >> $GITHUB_OUTPUT
          else
            echo "is_laravel=false" >> $GITHUB_OUTPUT
          fi
      - name: Check config files
        id: check
        run: |
          if [ -f "phpstan.neon" ]; then echo "phpstan=true" >> $GITHUB_OUTPUT; else echo "phpstan=false" >> $GITHUB_OUTPUT; fi
          if [ -f "behat.yml" ]; then echo "behat=true" >> $GITHUB_OUTPUT; else echo "behat=false" >> $GITHUB_OUTPUT; fi
          if [ -f "phpunit.xml" ]; then echo "phpunit=true" >> $GITHUB_OUTPUT; else echo "phpunit=false" >> $GITHUB_OUTPUT; fi

  detect_php_version:
    name: Detect PHP Version
    runs-on: ubuntu-latest
    outputs:
      php_version: ${{ steps.find_php_version.outputs.php_version }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Find php version from composer.json
        id: find_php_version
        run: |
          PHP_VERSION=$(jq -r '.require.php' composer.json)
          echo "PHP version found in composer.json: $PHP_VERSION"
          PHP_VERSION_MAJOR_MINOR=$(echo "$PHP_VERSION" | sed -E 's/^\^?([0-9]+\.[0-9]+).*/\1/')
          echo "PHP version (major.minor): $PHP_VERSION_MAJOR_MINOR"
          echo "php_version=$PHP_VERSION_MAJOR_MINOR" >> $GITHUB_OUTPUT

  phpcs:
    name: PHP_CodeSniffer
    needs: [check_php_files_changed]
    runs-on: ubuntu-latest
    if: needs.check_php_files_changed.outputs.changed != '0'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        with:
          tools: phpcs, cs2pr, composer
          extensions: mbstring, json, dom
      - name: Grab org wide PHPCS config
        uses: actions/checkout@v3
        with:
          repository: Global4Communications/org-workflows
          path: org-workflows
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Copy phpcs.xml
        run: cp org-workflows/phpcs/phpcs.xml ./phpcs.xml
      - name: Run PHP_CodeSniffer (Errors only)
        run: phpcs --standard=phpcs.xml --warning-severity=0 --report=checkstyle $(git diff --name-only --diff-filter=AM origin/${{ github.event.pull_request.base.ref }} HEAD | grep php | tr '\n' ' ') | cs2pr

  phpstan:
    name: PHPStan
    needs: [check_php_files_changed, detect_php_version, check_config_files]
    runs-on: ubuntu-latest
    if: needs.check_php_files_changed.outputs.changed != '0' && needs.check_config_files.outputs.phpstan == 'true'
    env:
      MANDRILL_APIKEY: "RANDOM_API_KEY"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        env:
          GITHUB_TOKEN: ${{ secrets.webservices_pat }}
          COMPOSER_AUTH_JSON: '{"github-oauth": {"github.com": "${{ secrets.webservices_pat }}"}}'
        with:
          php-version: ${{ needs.detect_php_version.outputs.php_version }}
          tools: phpstan:1.12, composer, cs2pr
          extensions: mbstring, json, dom
      - name: Laravel Setup
        run: |
          cp .env.example .env
          composer config --global github-protocols https
          composer install --prefer-dist --no-interaction --no-progress
          php artisan key:generate --force
      - name: Run PHPStan analysis
        run: phpstan analyse --no-progress --no-interaction --memory-limit=512M --configuration=phpstan.neon --error-format=checkstyle -vvv | cs2pr

  behat:
    name: Behat
    needs: [check_php_files_changed, detect_php_version, check_config_files]
    runs-on: ubuntu-latest
    if: needs.check_php_files_changed.outputs.changed != '0' && needs.check_config_files.outputs.behat == 'true'
    env:
      MANDRILL_APIKEY: "RANDOM_API_KEY"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        env:
          GITHUB_TOKEN: ${{ secrets.WEBSERVICES_PAT }}
          COMPOSER_AUTH_JSON: '{"github-oauth": {"github.com": "${{ secrets.WEBSERVICES_PAT }}"}}'
        with:
          php-version: ${{ needs.detect_php_version.outputs.php_version }}
          tools: composer
          extensions: mbstring, json, dom
      - name: Laravel Setup
        run: |
          cp .env.example .env
          composer config --global github-protocols https
          composer install --prefer-dist --no-interaction --no-progress
          php artisan key:generate --force
      - name: Run Behat tests
        run: |
          vendor/bin/behat

  phpunit:
    name: PHPUnit
    needs: [check_php_files_changed, detect_php_version, check_config_files]
    runs-on: ubuntu-latest
    if: needs.check_php_files_changed.outputs.changed != '0' && needs.check_config_files.outputs.phpunit == 'true'
    env:
      MANDRILL_APIKEY: "RANDOM_API_KEY"
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup PHP with PECL extension
        uses: shivammathur/setup-php@v2
        env:
          GITHUB_TOKEN: ${{ secrets.WEBSERVICES_PAT }}
          COMPOSER_AUTH_JSON: '{"github-oauth": {"github.com": "${{ secrets.WEBSERVICES_PAT }}"}}'
        with:
          php-version: ${{ needs.detect_php_version.outputs.php_version }}
          tools: composer, phpunit
          extensions: mbstring, json, dom
      - name: Configure and Install Composer dependencies
        run: |
          composer config --global github-protocols https
          composer install --prefer-dist --no-interaction --no-progress
      - name: Laravel Setup
        if: needs.check_config_files.outputs.laravel == 'true'
        run: |
          cp .env.example .env
          php artisan key:generate --force
      - name: Setup problem matchers for PHPUnit
        run: echo "::add-matcher::${{ runner.tool_cache }}/phpunit.json"
      - name: Run PHPUnit
        run: |
          vendor/bin/phpunit --configuration phpunit.xml
